@import url(https://fonts.googleapis.com/css2?family=Monoton&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap);


:root {
    /*---------  COLOR  ---------*/
    --body-color: #243238;
    --red-primary: #c70039;
    --black: #101010;
    --white: #FFF;
    /*---------  font  ---------*/
    --font-700-65: 700 65px poppins;
    --font-500-30: 30px 500 Raleway;
    --raleway: 'Raleway', sans-serif;

    font-size: 30px;
    padding-top: 20px;
    font-weight: 500;
    /*---------  line-height   ---------*/
    /*---------  letter-spacing   ---------*/
}

/*---------  reset   ---------*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button, input, textarea {
    background: none;
    border: none;
}

::before, ::after, :focus {
    outline: none;
}

ul, ol {
    list-style: none;
}

/*---------  global   ---------*/

html{
    padding: 0 !important;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--white);
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--black);
}

.text-red{
    color: var(--red-primary);
}


.block-title{
    height: auto;
    width: fit-content;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-family: raleway, sans-serif;
    color: whitesmoke;
    padding: 60px 10px 30px;
    font-weight: 900;
    text-transform: capitalize;
    position: relative;
    display: flex;
    flex-direction: column;
}

.d-none{
    display: none;
}

.valid{
    color: green;
    border: 1px solid green;
}

.is-invalid:not(span.is-invalid){
    color: red;
    border: 1px solid red;
}

span.is-invalid{
    color: red;
}

/*---------  scroll-bar   ---------*/
::-webkit-scrollbar {
    width: 4px;
    color: var(--red-primary);
    transition: all .4s ease;
    z-index: 1000;
}

::-webkit-scrollbar-thumb {
    color: var(--red-primary);
    border-radius: 4px;
    width: 4px;
    transition: all .4s ease;
}

::-webkit-scrollbar-track {
    background: var(--black);
    border-radius: 4px;
    width: 4px;
}

/*---------  loader load page  ---------*/
.loader-start {
    background: linear-gradient(165deg, rgba(255, 0, 0, 1) 0%, rgb(20, 0, 0) 40%, rgb(170, 0, 0) 98%, rgb(100, 0, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loader-start .container {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    background: linear-gradient(165deg, rgba(128, 0, 0, 1) 0%, rgb(90, 0, 0) 40%, rgb(50, 0, 0) 98%, rgb(20, 0, 0) 100%);
    position: relative;
}

.loader-start .container .loader-content::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-bottom: 0 solid #ffffff05;
    box-shadow: 0 -10px 20px 20px #ffffff40 inset, 0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset, 0 -3px 2px #ffffffBB inset, 0 2px 0px #ffffff, 0 2px 3px #ffffff, 0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
    filter: blur(3px);
    animation: rotate 2s linear infinite;
}

.loader-start .container .counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: #ffffff;
    font-weight: bold;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

/*---------  loader load change page  ---------*/
.loader {
    height: 300vh;
    width: 180%;
    background: linear-gradient(165deg, rgba(255, 0, 0, 1) 0%, rgb(20, 0, 0) 40%, rgb(170, 0, 0) 98%, rgb(100, 0, 0) 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(199, 0, 57, 1);
    opacity: 1;
    display: none;
    transform: rotate(15deg) translateY(-100%);
    position: fixed;
    z-index: 1000;

}

.loader.active {
    display: block;
    animation: breakerAnimate 3s linear;
}

@keyframes breakerAnimate {
    0% {
        transform: translateX(-150%) rotate(15deg) translateY(-50%);
    }
    50% {
        transform: translateX(0%) rotate(15deg) translateY(-50%);
    }
    100% {
        transform: translateX(150%) rotate(15deg) translateY(-50%);
    }
}

/*---------  header  ---------*/
header{
    position: fixed;
    height: 150px;
    width: 100%;
    z-index: 3;
    padding: 10px 30px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    height: 80%;
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

header .logo img{
    height: 60px;
}

/* btn mobile */
.nav-icon{
    width: 30px;
    height: 30px;
    position: relative;
    transition: .1s;
    cursor: pointer;
    display: inline-block;
    z-index: 6;
}

.nav-icon span{
    width: 5px;
    height: 5px;
    background-color: #fff;
    display: block;
    border-radius: 50%;
    position: absolute;

}
.nav-icon:hover span{
    transform: scale(1.2);
    transition: 350ms cubic-bezier(.8, .5, .2, 1.4);
}
.nav-icon span:nth-child(1){
    left: 0;
    top: 0;
}
.nav-icon span:nth-child(2){
    left: 12px;
    top: 0;
    background: var(--red-primary);
}
.nav-icon span:nth-child(3){
    right: 0;
    top: 0;
}
.nav-icon span:nth-child(4){
    left: 0;
    top: 12px;
    background: var(--red-primary);
}
.nav-icon span:nth-child(5){
    position: absolute;
    left: 12px;
    top: 12px;
    background: var(--red-primary);
}
.nav-icon span:nth-child(6){
    right: 0px;
    top: 12px;
    background: var(--red-primary);
}
.nav-icon span:nth-child(7){
    left: 0px;
    bottom: 0px;
}
.nav-icon span:nth-child(8){
    position: absolute;
    left: 12px;
    bottom: 0px;
    background: var(--red-primary);
}
.nav-icon span:nth-child(9){
    right: 0px;
    bottom: 0px;
}
.nav-icon.show{
    transform: rotate(180deg);
    cursor: pointer;
    transition: .2s cubic-bezier(.8, .5, .2, 1.4);
    background: var(--body-color);
}
.nav-icon.show span{
    border-radius: 50%;
    transition-delay: 200ms;
    transition: .5s cubic-bezier(.8, .5, .2, 1.4);
}
.nav-icon.show span:nth-child(2) {
    left: 6px;
    top: 6px;
    background: #ffffff;
}
.nav-icon.show span:nth-child(4) {
    left: 6px;
    top: 18px;
    background: #ffffff;
}

.nav-icon.show span:nth-child(5) {
    background: #ffffff;
}
.nav-icon.show span:nth-child(6) {
    right: 6px;
    top: 6px;
    background: #ffffff;
}
.nav-icon.show span:nth-child(8) {
    left: 18px;
    bottom: 6px;
    background: #ffffff;
}

/* navbar */

.navbar{
    position: absolute;
    top: -100%;
    right: -100%;
    border-bottom-left-radius: 50%;
    transition: all 800ms ease;
    z-index: 5;
}

.navbar .nav-list{
    visibility: hidden;
    transition: visibility 300ms linear;
}

.navbar .nav-list .nav-item{
    opacity: 0;
    transition: opacity 300ms ease;
}

.navbar.show{
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: var(--body-color);
    transition: all 300ms ease;
    border-bottom-left-radius: 0;
}

.navbar.show .nav-list{
    visibility: visible;
    transition: visibility 300ms linear;
    transition-delay: 0.5s;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.navbar.show .nav-list .nav-item{
    opacity: 1;
    transition: opacity 300ms ease;
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 10px;
}

.navbar.show .nav-list .nav-item:nth-child(1){
    transition-delay: 0.2s;
}

.navbar.show .nav-list .nav-item:nth-child(2){
    transition-delay: 0.6s;
}

.navbar.show .nav-list .nav-item:nth-child(3){
    transition-delay: 0.8s;
}

.navbar.show .nav-list .nav-item:nth-child(4){
    transition-delay: 1s;
}

.navbar.show .nav-item .nav-link{
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    opacity: .7;
    transition: all .4s ease;
    text-transform: uppercase;
    width: 100%;
}

.navbar.show .nav-item .nav-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    transform: translate(-50%,-50%);
    align-items: center;
    font-size: 5em;
    font-weight: 400;
    font-family: monoton, sans-serif;
    color: rgb(255, 255, 255,.1);
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 100px;
    transition: all .4s ease;
    width: 100%;
}

.navbar.show .nav-item .nav-link:hover::before {
    content: attr(data-text);
    opacity: 1;
    letter-spacing: 10px;
}

/*---------  section  ---------*/
section{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height:100%;
}

/*---------  section home  ---------*/

#home{
    height: 100vh;
    background: no-repeat center/cover url("../images/home-bg.svg");
    backdrop-filter: blur(20px);
}

#home .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#home .block-icon{
    height: 100vh;
    z-index: 2;
    padding: 35px;
    width: auto;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home .block-icon i{
    color: white;
    font-size: 31px;
    opacity: .6;
    margin: 8px;
    transition: all .4s ease;
}

#home .block-icon i:hover{
    opacity: 1;
    transform: scale(1.1);
}

#home .block-title{
    text-align: center;
}

#home .name{
    font: var(--font-700-65);
    text-transform: capitalize;
}

#home .text-change{
    font: var(--font-500-30);
    text-transform: capitalize;
    font-size: 30px;
    padding-top: 20px;
    font-weight: 500;
}

@media (max-width: 1025px){

    #home .container{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    #home .block-icon {
        width: 100%;
        padding: 10px;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

/* section about */
#about{
    overflow: scroll;
}

.about{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .about-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80%;
    padding-left: 50px;
    padding-right: 50px;
    flex-wrap: wrap-reverse;
}

.about .block-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.about .block-text h3{
    width: 100%;
    font-size: 45px;
    opacity: 1;
    margin-bottom: 10px;
    display: block;
    white-space: pre-line;
}

.about .block-text p{
    opacity: .8;
    font-size: 28px;
    font-weight: 200;
}
.about .img{
    min-width: 40%;
    height: 550px;
    border-radius: 40px;
    background: no-repeat center/cover url("../images/about.svg");
}

.about .download{
    width: 100%;
    display: flex;
    justify-content: center;
}

.about .download a{
    padding: 25px 35px;
    color: whitesmoke;
    outline: none;
    font-size: 30px;
    font-family: var(--raleway);
    border-radius: 4px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    transition: all .4s ease;
    display: flex;
    gap: 10px;
    align-items: center;
}

.about .download button:hover{
    opacity: 1;
    transform: scale(1.05);
}

    @media screen and (max-width: 1200px) {
        .about{
            height: 100%;
        }

        .about .img{
            min-width: 80%;
        }

        .about .block-text{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            text-align: center;
        }
    }

/* section objectif */
.objectif {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.objectif .block-card{
    height: auto;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 2.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.objectif .card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.objectif .block-card .card{
    height: 400px;
    max-width: 500px;
    margin: 1.5%;
    width: 100%;
    padding: 10px;
    background-color: #191919;
    display: inline-block;
    box-shadow: 0 0 25px rgb(0,0,0,.05);
    position: relative;
    text-align: center;
    z-index: 2;
    border-radius: 10px;
    overflow: hidden;
    animation: opacity 1.4s ease;
}

.objectif .block-card .card .formation{
    z-index: 2;
    position: relative;
    border-radius: 30%;
    padding: 10px;
    /* From https://css.glass */
    background: rgba(255, 0, 0, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    border: 1px solid rgba(255, 0, 0, 0.4);
    height: 120px;
    display: flex;
    transition: all .8s ease;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin: 20px auto;
}

.objectif .block-card .card .formation.finish{
    background: rgba(0, 255, 42, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    border: 1px solid rgba(0, 255, 42, 0.4);
}

.objectif .block-card .card:hover .formation{
    box-shadow: 0 0 0 400px rgba(255, 0, 0, 0.39) ;
}

.objectif .block-card .card:hover .formation.finish{
    box-shadow: 0 0 0 400px rgba(0, 255, 42, 0.39);
}

.objectif .block-card .card .formation i{
    font-size: xxx-large;
}

.loader-card {
    height: 15px;
    width: 100%;
    display: flex;
    position: relative;
}

.loader-card .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    animation: move 500ms linear 0ms infinite;
    margin-right: 30px;
}

.loader-card .circle:first-child {
    position: absolute;
    top: 0;
    left: 0;
    animation: grow 500ms linear 0ms infinite;
}

.loader-card .circle:last-child {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
    animation: grow 500ms linear 0s infinite reverse;
}

@keyframes grow {
    from {transform: scale(0,0); opacity: 0;}
    to {transform: scale(1,1); opacity: 1;}
}

@keyframes move {
    from {transform: translateX(0px)}
    to {transform: translateX(45px)}
}

.objectif .card h3{
    padding: 10px;
    margin: 5px;
    font-weight: 200;
    font-size: 32px;
    z-index: 3;
    text-transform: capitalize;
}

.objectif .card p{
    padding: 10px;
    font-weight: 200;
    font-size: 18px;
    z-index: 5;
}

/* section skills */
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-content{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 25px auto 81px;
    justify-content: center;
}

.group-bar{
    height: auto;
    width: 45%;
    position: relative;
    color: whitesmoke;
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.label{
    height: auto;
    width: 45%;
    position: relative;
    color: whitesmoke;
    display: inline-block;
    padding: 1.5%;
    text-transform: uppercase;
}

.progress-bar{
    height: 40px;
    display: flex;
    align-items: center;
    transition: all .4s ease;
    width: 100%;
    border-radius: 10px;
    background: rgba(93, 0, 0, 0.51);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(93, 0, 0, 1);
}

.progress-bar::before{
    content: "";
    background: var(--red-primary);
    border-radius: 10px;
    margin-left: 1px;
    height: 95%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--raleway);
}

.progress-bar.html::before{
    content: "80%";
    width: 80%;
}

.progress-bar.js::before{
    content: "50%";
    width: 50%;
}

.progress-bar.jquery::before{
    content: "50%";
    width: 50%;
}

.progress-bar.php::before{
    content: "70%";
    width: 70%;
}

.progress-bar.php::before{
    content: "70%";
    width: 70%;
}

.progress-bar.sql::before{
    content: "50%";
    width: 50%;
}

.progress-bar.symfony::before{
    content: "60%";
    width: 60%;
}

.progress-bar.wordpress::before{
    content: "30%";
    width: 30%;
}

.progress-bar.bootstrap::before{
    content: "70%";
    width: 70%;
}

@media (max-width: 1025px) and (min-width: 551px){
    .skill {
        width: 40%;
    }
}

/* section portfolio */
#portfolio .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#portfolio .block-title span.text{
    opacity: .8;
    display: block;
    font-size: 20px;
    font-family: var(--raleway);
    padding: 15px 8px 8px;
    color: whitesmoke;
    font-weight: 400;
}

#portfolio .block-title span.traveau{
    opacity: .8;
    font-size: 20px;
    font-family: var(--raleway);
    padding: 15px 8px 8px;
    font-weight: 400;
}

#portfolio .portfolio-content{
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
}

.portfolio-content .card{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px 2% 40px 1.5%;
}

.portfolio-content .card .card-image{
    height: 500px;
    width: 40%;
}

.portfolio-content .card .card-image img{
    height: 100%;
    width: 100%;
    position: relative;
}

.portfolio-content .figure-body{
    width: 40%;
    padding-left: 1%;
    margin: 160px 1% 1% -40px;
    z-index: 2;
    opacity: 1;
    background: #080808;
    padding-top: 10px;
    padding-bottom: 10px;

}

.figure-body .card-title{
    font-size: 35px;
    font-weight: 200;
    transition: all .4s ease;
}

.figure-body .block-badge{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.block-badge .badge{
    background: rgba(134, 0, 0, 0.36);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(134, 0, 0, 1);
    padding: 7px 10px;
    font-size: 14px;
}

.figure-body span{
    font-size: 16px;
    opacity: .8;
    font-weight: 200;
}

.figure-body .block-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.figure-body .btn{
    font-size: 16px;
    opacity: .8;
    padding: 10px 20px;
    background: transparent;
    color: #c70039;
    transition: all .4s ease;
    outline: none;
    margin: 10px;
    border: 1.5px solid #c70039;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all .4s ease;
}

.figure-body .text-btn{
    z-index: 3;
    position: relative;
}

.figure-body .btn:before{
    content: "";
    position: absolute;
    width: 0;
    height: 200%;
    transform: rotate(-15deg) translateY(-20px);
    top: 0;
    left: 0;
    z-index: 3;
    background: #c70039;
    transition: all .7s ease;
}

.figure-body .btn:hover:before{
    opacity: 1;
    width: 120%;
}

.figure-body .btn:hover{
    opacity: 1;
    color: whitesmoke;
}

/* section contact */
#contact .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#contact .contact-content{
    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#contact form{
    height: 600px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h3{
    font-size: 24px;
    font-weight: 400;
    color: whitesmoke;
    padding: 0 20px 20px;
}

form .block-input{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input{
    width: 100%;
    padding: 10px 20px;
    margin: 14px;
    border-radius: 8px;
    background: #050505;
    color: whitesmoke;
    font-size: 18px;
}

form textarea{
    width: 100%;
    padding: 10px 20px;
    margin: 15px;
    height: 150px;
    border-radius: 8px;
    background: #050505;
    color: whitesmoke;
    font-size: 18px;
    resize: none;
}

form .btn{
    padding: 8px 24px;
    font-size: 20px;
    color: whitesmoke;
    background: #BB0035;
    opacity: .8;
    margin: 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: all .4s ease;
}

form .btn:hover{
    opacity: 1;
    transition: all .4s ease;
}



#contact .contact-info{
    width: 40%;
    height: 600px;
    background: no-repeat center/cover url(../images/image-about.svg);
    border-radius: 26px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
    padding: 20px;
}

#contact .contact-info::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #101010;
    opacity: .7;
    pointer-events: none;
}

.contact-info h3{
    position: relative;
    z-index: 2;
    font-size: 24px;
    font-weight: 400;
    color: whitesmoke;
    padding: 30px;
    width: 100%;
    text-align: center;
}

.contact-info .block-text-icon{
    height: auto;
    padding: 10px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-left: 100px;
}

.block-text-icon .text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    padding: 15px;
}

.text span:first-child{
    font-size: 15px;
    opacity: 0.8;
}

.text span:last-child{
    font-size: 14px;
    opacity: 0.7;
}

@media  screen and (max-width: 550px) and (min-width: 250px){

    .block-title{
        font-size: 30px;
    }

    .about .block-title{
        padding-top: 100px;
    }

    header{
        height: 100px;

    }


    header .logo{
        display: none;
    }

    .nav-icon{
        margin-left: auto;
    }

    #home .name{
        font-size: 45px;
    }

    #home .text-change{
        font-size: 22px;
    }

    #home .block-icon i{
        font-size: 21px;
    }

    #home .block-icon:first-child{
        position: relative;
        top: 60px;
    }

    .about .about-content{
        padding-left: 10px;
        padding-right: 10px;
    }

    .about .img{
        min-width: 100%;
        height: 250px;
    }

    .about img{
        width: 100%;
        height: 100%;
    }

    .about .block-text{
        gap: 0;
    }

    .about .block-text h3{
        font-size: 35px;
    }

    .about .block-text p{
        font-size: 22px;
        white-space: pre-line;
    }

    .about .download a{
        padding: 15px 0;
        font-size: 20px;
    }

    .loader-card .circle {
        width: 10px;
        height: 10px;
        margin-right: 8px;
    }

    .objectif .block-card .card{
        height: 320px;
    }

    .objectif .block-card .card .formation{
        height: 80px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .objectif .card h3{
        font-size: 22px;
        padding: 5px;
    }

    .objectif .card p{
        font-size: 16px;
    }

    @keyframes move {
        from {transform: translateX(0px)}
        to {transform: translateX(25px)}
    }

    .skills-content{
        flex-direction: column;
        margin: 25px auto;
    }

    .group-bar{
        width: 100%;
        margin-bottom: 10px;
    }

    .label{
        padding: 1%;
    }

    #portfolio .block-title{
        padding-bottom: 0;
    }

    .portfolio-content .card{
        flex-direction: column;
        padding: 0 2% 40px 1.5%;
    }

    .portfolio-content .card:first-child{
        padding-top: 25px;
    }

    .portfolio-content .card .card-image{
        width: 95%;
        height: 250px;
    }

    .portfolio-content .card .card-image img{
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
    }

    .portfolio-content .figure-body{
        width: 95%;
        margin: 0;
        z-index: 2;
        opacity: 1;
        background: #080808;
        padding: 10px;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }

    .figure-body .card-title{
        font-size: 25px;
    }

    .figure-body .card-title p{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .block-badge .badge{
        padding: 4px 5px;
        font-size: 12px;
    }

    #contact .container {
        height: 100%;
    }

    #contact .contact-content{
        width: 100%;
        flex-direction: column;
    }

    #contact form {
        height: 50%;
        width: 100%;
    }

    #contact .contact-info {
        width: 90%;
        height: 50%;
        margin-bottom: 10px;
    }

    .contact-info .block-text-icon {
        flex-direction: row;
        margin-left: 0;
    }
}

@media  screen and (max-width: 900px) and (min-width: 550px){

    .block-title{
        padding-top: 100px;
    }

    #home .block-icon{
        position: relative;
        top: 60px;
    }

    .about .img{
        min-width: 100%;
        height: 350px;
    }

    .portfolio-content .card{
        flex-direction: column;
        padding: 0 2% 40px 1.5%;
    }

    .portfolio-content .card .card-image{
        width: 70%;
        height: 250px;
    }

    .portfolio-content .card .card-image img{
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
    }

    .portfolio-content .figure-body{
        width: 70%;
        margin: 0;
        z-index: 2;
        opacity: 1;
        background: #080808;
        padding: 10px;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }

    #contact .container {
        height: 100%;
    }

    #contact .contact-content{
        width: 100%;
        flex-direction: column;
    }

    #contact form {
        height: 50%;
        width: 100%;
    }

    #contact .contact-info {
        width: 90%;
        height: 50%;
        margin-bottom: 10px;
    }

    .contact-info .block-text-icon {
        flex-direction: row;
        margin-left: 0;
    }
}